.content-btn-anadir{
    display: inline-block;
    text-align: -webkit-center;
    width: 45%;
}
#btn-anadirProduc{
    text-decoration: none;
    display: inline-block;
    border: 2.5px double black;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    height: 25px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 0px 0 60%;
    transition: 0.3s all;
}
#btn-anadirProduc:hover{
    background: thistle;
    border: 2.3px double rgb(69, 69, 69);
    height: 26px;
    width: 151px;
    padding: 7px;
    border-radius: 5px;
}
#div-galerias h1{
    display: inline-block;
    width: 53%;
    margin: 0px 0px 0px 20px;
 }

 @media screen and (max-width:875px){
    .content-btn-anadir{
        width: 35%;
    }
}
@media screen and (max-width: 591px){
    .content-btn-anadir {
        width: 25%;
    }
    #div-galerias h1{
    width: 51%;
    font-size: 25px;
     }
}


@media screen and (max-width:491px){
    #div-galerias{
        text-align: initial;
    }
    #btn-anadirProduc{
        margin: 10px ;
        width: 120px;
    }
    #div-galerias h1{
       font-size: 15px;
       margin: 0px 0 0 20px;
       width: 40%;
    }
}